<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <div class="box">
      <div class="box-header">
        <h3 class="box-title">All contacts</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">

        <!-- Line Chart - Single Series -->
        <h3>Contacts_by_Company</h3>



      </div>

      <!-- /.box-body -->
    </div>

    <%= pie_chart @contacts_by_company, defer: true, width: "800px", height: "500px", label: "Count" %>
  </section>
  <!-- /.content -->
</div>
