<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Companies
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <h1>Editing Company</h1>

    <%= render 'form', company: @company, addresses: @company.addresses %>

    <%= link_to 'Show', @company %> |
    <%= link_to 'Back', companies_path %>

  </section>
  <!-- /.content -->
</div>
